body {
  margin: 0;
  font-family:  'Inter', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #FEE42A;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}

.header__menu-item {
  height: 20px;
  border-bottom: #f5f5f5 1px solid;
}

.header__menu-item_active {
  border-bottom: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
}

.cover {
  min-height: 238px;
  padding: 7px 24px 10px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: 'EB Garamond', Georgia, serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 20px 20px 38px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: #ccc;
}

.intro__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.intro__date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 1.35;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
  color: #131313;
}

.content-section__subtitle {
  font-family: 'EB Garamond', Georgia, serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 1.35;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

.content-section__list-item {
  font-size: 16px;
  line-height: 1.35;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}
